<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>controller.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studiorequest</servlet-name>
        <servlet-class>controller.studiorequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRequestById</servlet-name>
        <servlet-class>controller.ShowRequestById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOwner</servlet-name>
        <servlet-class>controller.AddOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultipartTest</servlet-name>
        <servlet-class>controller.MultipartTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudio</servlet-name>
        <servlet-class>controller.AddStudio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestInDetail</servlet-name>
        <servlet-class>controller.RequestInDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexSearch</servlet-name>
        <servlet-class>controller.IndexSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequestById</servlet-name>
        <servlet-class>controller.DeleteRequestById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllStudioByIdAndName</servlet-name>
        <servlet-class>controller.ShowAllStudioByIdAndName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStudioDetailById</servlet-name>
        <servlet-class>controller.ShowStudioDetailById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOwnerByIdName</servlet-name>
        <servlet-class>controller.ShowOwnerByIdName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOwnerDetailById</servlet-name>
        <servlet-class>controller.ShowOwnerDetailById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOwnerById</servlet-name>
        <servlet-class>controller.RemoveOwnerById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexSearchResult</servlet-name>
        <servlet-class>controller.IndexSearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowResultByDistance</servlet-name>
        <servlet-class>controller.ShowResultByDistance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestImageLoader</servlet-name>
        <servlet-class>controller.RequestImageLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudioImageLoader</servlet-name>
        <servlet-class>controller.StudioImageLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerImageLoader</servlet-name>
        <servlet-class>controller.OwnerImageLoader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studiorequest</servlet-name>
        <url-pattern>/studiorequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRequestById</servlet-name>
        <url-pattern>/ShowRequestById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOwner</servlet-name>
        <url-pattern>/AddOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultipartTest</servlet-name>
        <url-pattern>/MultipartTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudio</servlet-name>
        <url-pattern>/AddStudio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestInDetail</servlet-name>
        <url-pattern>/RequestInDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexSearch</servlet-name>
        <url-pattern>/IndexSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequestById</servlet-name>
        <url-pattern>/DeleteRequestById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllStudioByIdAndName</servlet-name>
        <url-pattern>/ShowAllStudioByIdAndName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStudioDetailById</servlet-name>
        <url-pattern>/ShowStudioDetailById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOwnerByIdName</servlet-name>
        <url-pattern>/ShowOwnerByIdName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOwnerDetailById</servlet-name>
        <url-pattern>/ShowOwnerDetailById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOwnerById</servlet-name>
        <url-pattern>/RemoveOwnerById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexSearchResult</servlet-name>
        <url-pattern>/IndexSearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowResultByDistance</servlet-name>
        <url-pattern>/ShowResultByDistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestImageLoader</servlet-name>
        <url-pattern>/RequestImageLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudioImageLoader</servlet-name>
        <url-pattern>/StudioImageLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerImageLoader</servlet-name>
        <url-pattern>/OwnerImageLoader</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
